@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');

body {
    font-family: "Cute Font", serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("backgroud.jpg") 100vh;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    color: #f0f8ff;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
body::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Warna hitam dengan transparansi 50% */
    z-index: 1;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
}

.container img{
    width: 180px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

img.clicked {
    animation: scaleUp 0.5s ease-out forwards;
  }

  @keyframes scaleUp {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2); /* Memperbesar gambar */
    }
    100% {
      transform: scale(1);
    }
  }
